extends layout.pug 

block scripts
  script(src="/scripts/topic.js") 

block content 
  div.topic-container
    div.page-title-container.mb-1p5rem
      div 
        a.back-circle(href="/")
          img(src="/images/arrow-back.png", alt="Back")
      div 
        div.page-description= `Сэдэв №${topic.id}`
        h2.page-title= topic.topics_name
    div.divider
    div.topic-tests
      each test, index in tests 
        div.test
          div.question= `${index + 1}. ${test.questions}`
          if test.images
            img(
              src=test.images
              title=test.questions
              alt=test.questions
            )
          div.answers
            each answer in test.answers 
              if test.answer_id === answer.id 
                div.answer.correct= answer.answer
              else
                div.answer= answer.answer
            if test.desc
              div.description
                img(src="/images/help.png", alt="Help")
                div= test.desc
    a.back(href="/") Буцах